* {
    font-size: 16px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.17em;
  }
  
  h4 {
    font-size: 1.12em;
  }
  
  h5 {
    font-size: .83em;
  }
  
  h6 {
    font-size: .67em;
  }
  
  h1,
  h2,
  h5,
  h6 {
    color: #302a5f;
  }
  
  h3, h4 {
    color: #e94344;
  }
  
  .main-intro {
    position: absolute;
    top: 50px;
  }
  
  .main-intro h1 {
    color: #fbfdff;
    font-size: 48px;
    margin-bottom: 0;
  }
  
  .main-intro h2 {
    color: #fbfdff;
    font-weight: normal;
    font-size: 32px;
    margin: 0;
  }
  
  p {
    font-family: "Raleway", sans-serif;
    line-height: 160%;
    margin-top: 0;
    margin-bottom: 25px;
  }
  
  .main-links a {
    color: #fbfdff;
    text-decoration: none;
    border: 2px solid #fbfdff;
    margin-right: 5px;
    padding: 5px;
    display: block;
    float: left;
  }
  
  @media (max-width: 330px) {
    .main-links a {
      font-size: 14px;
    }
  }
  
  .main-links a:hover {
    background-color: #fbfdff;
    color: #302a5f;
  }
  
  a {
    color: #e94344;
    text-decoration: none;
  }
  
  .about-section, .skill-section {
    font-size: 32px;
    text-align: center;
  }
  
  /*  */
  html {
    box-sizing: border-box;
  }
  
  *, *::after, *::before {
    box-sizing: inherit;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(180deg, #6743e9, #135c7e 40%);
    background-color: #597a8f;
    margin: 0;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1080px;
  }
  
  nav ul {
    background-color: #302a5f;
    color: #fbfdff;
  }
  
  section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fbfdff;
    margin-bottom: 0;
    padding: 40px;
  }
  
  section::after {
    clear: both;
    content: "";
    display: block;
  }
  
  section:nth-child(odd) {
    background-color: #f4f4f4;
  }
  
  @media (min-width: 1000px) {
    .about-statement {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      padding-right: 20px;
    }
    .about-statement:last-child {
      margin-right: 0;
    }
  }
  
  .intro {
    background: linear-gradient(180deg, #6743e9, #135c7e 73%) !important;
    /* background-color: #123235 !important; */
    background-image: url("../headshot.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
  }
  
  @media (max-width: 600px) {
    .intro {
      padding: 20px;
      background-image: none;
    }
  }
  
  .main-links {
    position: absolute;
    bottom: 50px;
  }
  
  .projects {
    margin: 0 auto;
  }
  
  .project {
    background-color: #fbfdff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 700px) {
    .project {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      width: 47%;
    }
    .project:last-child {
      margin-right: 0;
    }
  }
  
  .skills {
    margin-bottom: 0;
  }
  
  .skills h4 {
    text-align: center;
  }
  
  @media (min-width: 350px) {
    .skills h4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0;
    }
    .skills h4:last-child {
      margin-right: 0;
    }
  }
  
  @media (min-width: 800px) {
    .skills h4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-right: 0;
    }
    .skills h4:last-child {
      margin-right: 0;
    }
  }